# Clase 2: Pandas y estadística descriptiva

In [1]:
import pandas as pd
df = pd.read_csv("http://datos.jus.gob.ar/dataset/1ab0cc03-ab9b-4520-975c-5757d87d1061/resource/4358c995-bb04-4ad9-be4a-a9076dc3e42c/download/estadistica-inscripciones-iniciales-automotores-2019-02.csv")

## Groupby

In [7]:
df.tail()

,tipo_vehiculo,anio_inscripcion_inicial,mes_inscripcion_inicial,provincia_inscripcion_inicial,letra_provincia_inscripcion_inicial,cantidad_inscripciones_iniciales,provincia_id
5779,Automotores,2020,1,Santa Cruz,Z,423,78
5780,Automotores,2020,1,Santa Fe,S,4133,82
5781,Automotores,2020,1,Santiago del Estero,G,564,86
5782,Automotores,2020,1,Tierra del Fuego,V,305,94
5783,Automotores,2020,1,Tucumán,T,1430,90

In [6]:
df.groupby("anio_inscripcion_inicial").count().tail()

,tipo_vehiculo,mes_inscripcion_inicial,provincia_inscripcion_inicial,letra_provincia_inscripcion_inicial,cantidad_inscripciones_iniciales,provincia_id
anio_inscripcion_inicial,,,,,,
2016,288,288,288,288,288,288
2017,288,288,288,288,288,288
2018,288,288,288,288,288,288
2019,288,288,288,288,288,288
2020,24,24,24,24,24,24

In [8]:
df.groupby(["anio_inscripcion_inicial", "mes_inscripcion_inicial"]).count().tail()

                                                  tipo_vehiculo  \
anio_inscripcion_inicial mes_inscripcion_inicial
2019                     9                                   24
                         10                                  24
                         11                                  24
                         12                                  24
2020                     1                                   24

                                                  provincia_inscripcion_inicial  \
anio_inscripcion_inicial mes_inscripcion_inicial
2019                     9                                                   24
                         10                                                  24
                         11                                                  24
                         12                                                  24
2020                     1                                                   24

                                                  letra_provincia_inscripcion_inicial  \
anio_inscripcion_inicial mes_inscripcion_inicial
2019                     9                                                         24
                         10                                                        24
                         11                                                        24
                         12                                                        24
2020                     1                                                         24

                                                  cantidad_inscripciones_iniciales  \
anio_inscripcion_inicial mes_inscripcion_inicial
2019                     9                                                      24
                         10                                                     24
                         11                                                     24
                         12                                                     24
2020                     1                                                      24

                                                  provincia_id
anio_inscripcion_inicial mes_inscripcion_inicial
2019                     9                                  24
                         10                                 24
                         11                                 24
                         12                                 24
2020                     1                                  24

In [9]:
df.groupby(["anio_inscripcion_inicial", "mes_inscripcion_inicial"]).sum().tail()

                                                  cantidad_inscripciones_iniciales  \
anio_inscripcion_inicial mes_inscripcion_inicial
2019                     9                                                   36296
                         10                                                  32781
                         11                                                  26004
                         12                                                  21470
2020                     1                                                   45040

                                                  provincia_id
anio_inscripcion_inicial mes_inscripcion_inicial
2019                     9                                1152
                         10                               1152
                         11                               1152
                         12                               1152
2020                     1                                1152

## Agg

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html

In [11]:
# buscar dato de expo donde tenga sentido min, max, avg y suma total

## Pivot table

In [13]:
df.pivot_table(
    index=["anio_inscripcion_inicial"],
    columns=["mes_inscripcion_inicial"],
    values=["cantidad_inscripciones_iniciales"]
)

                         cantidad_inscripciones_iniciales               \
mes_inscripcion_inicial                                1            2
anio_inscripcion_inicial
2000                                          1955.250000  1366.583333
2001                                          1518.791667   671.125000
2002                                           682.583333   367.166667
2003                                           604.291667   281.208333
2004                                          1364.291667   794.791667
2005                                          2238.375000  1130.375000
2006                                          2761.500000  1364.750000
2007                                          3450.541667  1631.500000
2008                                          3592.250000  1950.458333
2009                                          3085.541667  1633.166667
2010                                          3293.791667  1871.083333
2011                                          4347.458333  2516.583333
2012                                          4713.375000  2434.333333
2013                                          4611.208333  2673.208333
2014                                          4556.666667  2453.666667
2015                                          2802.000000  1826.625000
2016                                          2414.500000  2006.000000
2017                                          3973.416667  2461.416667
2018                                          5032.833333  2908.250000
2019                                          2514.625000  1678.916667
2020                                          1876.666667          NaN

                                                                              \
mes_inscripcion_inicial            3            4            5            6
anio_inscripcion_inicial
2000                      1354.333333  1110.041667  1149.166667  1184.500000
2001                       733.083333   713.708333   733.583333   657.500000
2002                       562.375000   568.375000   427.291667   183.833333
2003                       312.625000   386.291667   451.750000   474.166667
2004                       997.041667   950.250000   979.291667  1037.541667
2005                      1293.750000  1380.791667  1399.833333  1370.791667
2006                      1701.541667  1444.625000  1610.833333  1534.666667
2007                      1979.625000  1757.666667  1979.833333  1778.208333
2008                      1856.625000  2363.833333  2402.666667  2065.666667
2009                      1729.458333  1693.875000  1677.375000  1840.291667
2010                      2395.375000  2136.708333  2122.541667  2294.208333
2011                      2826.208333  2733.125000  2842.416667  3280.000000
2012                      3440.416667  2545.958333  3197.000000  2915.958333
2013                      3253.916667  3444.291667  3870.250000  3131.625000
2014                      2160.291667  2239.958333  2365.041667  2227.416667
2015                      2096.916667  2221.875000  2041.333333  2455.458333
2016                      2351.166667  2545.875000  2536.416667  2276.166667
2017                      3265.666667  2712.458333  3239.291667  3270.750000
2018                      3567.291667  3241.083333  3474.833333  2699.666667
2019                      1636.750000  1562.416667  1539.958333  1513.333333
2020                              NaN          NaN          NaN          NaN

                                                                              \
mes_inscripcion_inicial            7            8            9            10
anio_inscripcion_inicial
2000                      1142.291667  1202.833333  1173.208333  1399.500000
2001                       781.208333   731.916667   632.500000   615.125000
2002                       233.208333   249.708333   245.750000   259.416667
2003                       573.291667   559.541667   647.375000   722.500000
2004                      1174.708333  1176.083333  1183.791667  1032.916667
2005                      1432.708333  1333.708333  1510.333333  1281.625000
2006                      1547.541667  1649.458333  1658.708333  1506.541667
2007                      2102.000000  2279.500000  2061.125000  2072.875000
2008                      2448.708333  2154.458333  2347.833333  2133.208333
2009                      1947.208333  1773.500000  1928.083333  1677.291667
2010                      2403.875000  2400.958333  2676.458333  2248.750000
2011                      3050.958333  3343.583333  3524.291667  3027.458333
2012                      3100.041667  3198.791667  2699.000000  2940.500000
2013                      3685.708333  3448.708333  3559.166667  3741.208333
2014                      2567.375000  2437.583333  2482.125000  2269.000000
2015                      2581.833333  2458.125000  2832.958333  2537.750000
2016                      2657.000000  3043.708333  2966.708333  2654.708333
2017                      3373.208333  3640.083333  3349.833333  3279.875000
2018                      2806.208333  2735.041667  2203.541667  2030.708333
2019                      2085.625000  1857.250000  1512.333333  1365.875000
2020                              NaN          NaN          NaN          NaN


mes_inscripcion_inicial            11           12
anio_inscripcion_inicial
2000                       984.375000   678.375000
2001                       522.791667   299.208333
2002                       212.291667   225.958333
2003                       577.458333   494.791667
2004                       969.458333   526.458333
2005                      1231.041667   614.750000
2006                      1391.791667   685.625000
2007                      1742.625000  1032.875000
2008                      1485.208333   834.750000
2009                      1568.875000   978.625000
2010                      2264.500000  1623.083333
2011                      2749.833333  1625.583333
2012                      2453.208333  1593.166667
2013                      2596.250000  2134.375000
2014                      1665.625000  1261.916667
2015                      2176.625000  1350.208333
2016                      2498.000000  1693.333333
2017                      3056.250000  1991.625000
2018                      1662.583333  1185.583333
2019                      1083.500000   894.583333
2020                              NaN          NaN

## Melt

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html

## Media, mediana y moda

## Desvío estándar, varianza y desviación absoluta

## Distribuciones probabilísticas

## Quantiles

## Valores anómalos (outliers)

## Práctica